.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 12.5rem;
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 7.8rem;
  height: 3rem;
}
