/* Tasks component */
.tasks {
  position: absolute;
  top: 291px;
  width: 736px;
}
/* Tasks Header */
.tasks header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
  height: 19px;
}
.tasks header label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.tasks header span {
  background: var(--gray-400);
  padding: 2px 8px 2px 8px;
  border-radius: 999px;
  color: var(--gray-200);
}

.tasks header .tasksCount {
  color: var(--blue);
}

.tasks header .tasksCompleted {
  color: var(--purple);
}
/* End of Tasks Header  */

/* Tasks list */
.tasks .tasksList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tasks .tasksList section {
  color: var(--gray-100);
  font-weight: 400;
  display: flex;
  height: 72px;
  font-size: 14px;
  line-height: 19.6px;
  background: var(--gray-500);
  border-radius: 8px;
  padding: 16px;
  gap: 12px;
}
.tasks .tasksList section div {
  width: 24px;
  height: 24px;
}
.tasks .tasksList section svg {
  cursor: pointer;
  width: 24px;
}
