.tasks {
  position: absolute;
  display: flex;
  width: 736px;
  left: calc(50% - 736px / 2 - 3px);
  top: 291px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.tasks .taskList {
  width: 736px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}
